<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    {%include 'cdnlines.html' %}
<body>
    {%include 'nav.html' %}

    <div class="container-fluid">
        <center><h1 style="color:red;">About Us</h1></center>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <div class="row mt-2">          
            <div class="col-md-6">
                    <center><h2 style="color:red;">Vision</h2></center>
                    <hr>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            <div class="col-md-6">
                <center><h2 style="color:red;">Mission</h2></center>
                <hr>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
        </div>
        <div class="row mt-3">          
            <div class="col-md-4 shadow p-2">
                <div class="card-body">
                <center><h1 style="color:red;" class="card-title">2000+</h1>
                <hr>
                <h3 class="card-text">Order Delivered</h3></center>
                </div>
            </div>
            <div class="col-md-4 shadow p-2">
                <div class="card-body">
                <center><h1 style="color:red;" class="card-title">1000+</h1>
                <hr>
                <h3 class="card-text">Happy Customers</h3></center>
                </div>
            </div>
            <div class="col-md-4 shadow p-2">
                <div class="card-body">
                <center><h1 style="color:red;" class="card-title">4000+</h1>
                <hr>
                <h3 class="card-text">Products</h3></center>
                </div>
            </div>
    </div>
    {%include 'footer.html' %}<!-- Include your footer here (copyright information, links, etc.) -->
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/popper.js"></script>
</body>
</html>