<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    {% include 'cdnlines.html' %}
  </head>
  <body>
    <br><br>
    <div class="row mt-3 bg-dark text-white">          
      <div class="col-md-4">
        <h2 class="text-center text-danger">Address</h2>
        <hr class="bg-white">
        <center>
          <strong> 
            Station, Fortune Signature, 304, 3rd Floor,<br>
            Nijampet x Road, above Pista House, Opp. JNTU,<br>
            Kukatpally, Hyderabad, Telangana 500085<br>
          </strong>
        </center>
      </div>
      <div class="col-md-4">
        <h2 class="text-center text-danger">Quick Links</h2>
        <hr class="bg-white">
        <center>
          <a href="/home" class="anchor text-white">HOME</a><br>
          <a href="/contact" class="anchor text-white">CONTACT</a><br>
          <a href="/about" class="anchor text-white">ABOUT</a><br>
        </center>
      </div>
      <div class="col-md-4">
        <h2 class="text-center text-danger">Connect Us</h2>
        <hr class="bg-white">
        <center>
          <h5><a href="#" target="_blank" class="text-white"><i class="bi bi-facebook"></i></a></h5>
          <h5><a href="#" target="_blank" class="text-white"><i class="bi bi-twitter"></i></a></h5>
          <h5><a href="#" target="_blank" class="text-white"><i class="bi bi-instagram"></i></a></h5>
          <h5><a href="#" target="_blank" class="text-white"><i class="bi bi-linkedin"></i></a></h5>
        </center>
      </div>
    </div>
  </body>
</html>
