<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ekart Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-3">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">                  
                  <div class="navbar-header">
                    <a class="navbar-brand" href="/home">Ekart</a>
                  </div>                          
                        <ul class="nav navbar-nav">
                          <li><a class="nav-link" href="/home">Home</a></li>
                          <li><a class="nav-link" href="/viewcart">Cart</a></li>
                          <li><a class="nav-link" href="/placeorder">Place Order</a></li>
                          <li><a class="nav-link" href="/about">About</a></li>
                          <li><a class="nav-link" href="/contact">Contact Us</a></li>
                          <li><a class="nav-link" href="/login">Login</a></li>
                          <li><a class="nav-link" href="/register">Register</a></li>
                          <li><a class="nav-link" href="/login">Logout</a></li>
                        </ul>
                      </li>                                      
                </div>
              </nav>
        </div>
    </div>
</body>
</html>